#root{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
/* card */
.container{
    display: flex;
    width: 500px;
    box-shadow:0px 5px 10px 1px #7211f4;
    box-sizing: border-box;
    padding: 8px;
    gap: 10px;
    background-color: white;
}

.block-photo{
    width: 100px;
    height: 100px;
  
}

.block-photo img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.block-title{
    display: flex;
    align-items: center;
    flex: 1;
}
.block-active{
    display: flex;
    align-items: center;
}

.block-active button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    color: white;
    background-color: #7211f4;
}

.block-active button:active{
    opacity: 0.66;
}
/*header*/
.header_container{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #7211f4;
    flex-direction: column;
    padding-bottom: 20px;
    padding-left: 10px;
    color: white;
}
.header_list--item{
    display: flex;
    list-style: none;
    background-color: #7211f4;
    color: white;
    font-weight: 800;
    padding: unset;
    margin: unset;
}

.header_item{
    padding: 5px 8px;
}
.header_item:hover{
    background-color: #ffffffd7;
    color: #7211f4;
}


/* footer */

.footer_container{
    background-color: #333;
    padding: 10px;
    color: white;
    width: 100%;
}

